.App {
  background-color: blue;
}

.container {
  padding: 20px;
  display: inline-block;
  background-color: grey;
  color: white;
  font-size: 42px;
  border: 5px solid darkslateblue;
  margin: 85px;
}

